* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: linen;
}

.container {
  margin-top: 5px;
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  flex-direction: column;
  border: 5px solid transparent;
}

.container--top {
  width: 290px;
  height: 165px;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  border-radius: 10px 10px 0 0;
  position: relative;
  border-bottom: 2px solid transparent;
}

.to-do-list {
  position: absolute;
  left: 11px;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  align-self: center;
  font-weight: bold;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  padding: 4px;
}

.date {
  position: absolute;
  left: 180px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: capitalize;
  align-self: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  padding: 5px;
}

.container--bottom {
  border-radius: 0 0 10px 10px;
  background-color: #f0f8ff;
  display: flex;
  height: 450px;
  width: 290px;
  position: relative;
  flex-direction: column;
}

.bottom--header {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #777;
  justify-content: space-between;
}

.sentence {
  text-transform: capitalize;
  margin: 15px 10px 15px;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #777;
}

.refresh {
  margin: 10px 15px 10px 0px;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

.refresh:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.refresh:active {
  transform: translateY(1px);
}

.refresh:visited {
  outline: none;
}

.container--bottom--list {
  height: 390px;
  width: 280px;
  align-self: center;
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--list {
  list-style-type: none;
  overflow-y: scroll;
}

.container--list::-webkit-scrollbar {
  width: 1px;
}

.container--list::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid slategrey;
}

.list--items {
  position: relative;
  padding: 10px;
  color: #444;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
}

.item--modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  text-transform: capitalize;
  display: none;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.item--modal--a1 {
  background-color: #c5e8e2;
  width: 70%;
  /* height: 100%; */
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: white;
}

.item--modal--a2 {
  background-color: #f0aeaf;
  /* height: 100%; */
  width: 30%;
  text-align: center;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: white;
}

.item--modal--a1:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.item--modal--a1:active {
  transform: translateY(1px);
}

.item--modal--a2:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.item--modal--a2:active {
  transform: translateY(1px);
}

.completed {
  text-decoration: line-through;
}

.container--bottom--add {
  display: flex;
  justify-content: flex-start;
}

.container--bottom--button {
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
}

.container--bottom--button:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.container--bottom--button:active {
  transform: translateY(1px);
}

.container--bottom--button:visited {
  outline: none;
}

.button--add--img {
  width: 55px;
}

.container--bottom--value {
  height: 35px;
  border: 1px solid darkturquoise;
  align-self: flex-end;
  width: 213px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #777;
}

.container--bottom--value::placeholder {
  text-align: center;
  color: #777;
  font-size: 12px;
  text-transform: capitalize;
}

.container--bottom--value:focus {
  border: 1px solid #f0aeaf;
  outline: none;
}